body {
    width: 300px;
    height: 500px;
    font-size: 14px;
    font-family: Arial, Helvetica, "微软雅黑", sans-serif;
    overflow: hidden;

}

/*登陆面板*/
#login_p {

}


#localpassword_p {
    display: none;
}

/*正在加载面板*/
#loading_p {
    display: none;
}

/*主面板*/
#main_p {
    display: none;
    width: 300px;
    margin: 0;

}

#main_p input {
    float: left;
    width: 285px;
    background: #eeeeee;
    margin: 15px 0 12px 0;
    padding: 12px 0 12px 15px;
    border: none;
    font-family: Arial, Helvetica, "微软雅黑", sans-serif;
}

#main_p ul {
    float: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main_p ul li {
    cursor: pointer;
    background: #79D5D5;
    color: #FFFFFF;
    padding: 10px 10px 10px 15px;
    margin: 5px 0;
    list-style: none;
}

/*定义已经完成的样式*/
#main_p ul li.finish {
    background: #bbbbbb;
    text-decoration: line-through;
    color: #eee;
}

/*定义编辑状态的样式*/

#main_p ul li.edit {
    background: #eeeeee;
    text-decoration: none;
    color: #000000;
    cursor: text;
}

/*定义消息样式*/
.message {
    position: fixed;
    max-width: 100%;
    top: 0;
    font-size: 12px;
    padding: 2px 0;
}

.msg_error {
    color: red;
}

/* 定义滚动条 */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
}

::-webkit-scrollbar-track {
    margin: 2px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.12)));
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
    -webkit-border-radius: 3px;
}
